<div class="user-details" *ngIf="selectedUser">
    <span class="fonts"><b>Name:</b> {{selectedUser.name}} </span>
    <span class="fonts"><b>Surname:</b> {{selectedUser.surname}}</span>
    <span class="fonts"><b>Age:</b> {{selectedUser.age}} </span>
    <span class="fonts"><b>Email:</b> {{selectedUser.email}} </span>
    <span class="fonts"><b>Phone:</b> {{selectedUser.phone}} </span>
    <span class="fonts"><b>Car:</b> {{changeBooleanName(selectedUser.hasCar)}}</span>
</div>
<div class="empty-state" *ngIf="!selectedUser">
    Select user to see details
</div>
